<div id="newContactPopup" >
<%= form_for(:contact, :url => contacts_path, :remote => true) do |f|%>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :resource %>
<%= f.text_field :resource %>
<%= f.button('Save', :class => "ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-button-text") %>
<% end %>
</div>
<div id="newGroupPopup" >
<%= form_for(:group, :url => groups_path, :remote => true) do |f|%>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.button('Save', :class => "ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-button-text") %>

<% end %>
</div>
<div id="addContactPopup" >

</div>
<h1 id="header">Users Profile</h1>
<% if @contacts.empty? %>
<p>You don't have any contacts</p>
<% end %>
<a href="#" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button">
<span class="ui-button-text" id="contactOpenBtn" style="width:150px" >Add a Contact</span>
</a>
<div>
<ul id="contactList">
<%= render @contacts %>
</ul>
<% if @groups.empty? %>
<p>You don't have any groups</p>
<% end %>
<a href="#" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button">
<span class="ui-button-text" id="groupOpenBtn" style="width:150px" >Add a Contact</span>
</a>

<ul id="groupList">
<% @groups.each do |group| %>
<%= render group %>
<% end %>
</ul>
</div>


