<div id="newContactPopup" >
<%= form_for(:contact, :url => contacts_path, :remote => true) do |f|%>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :resource %>
<%= f.text_field :resource %>
<%= submit_tag('Save', :class => "button") %>
<% end %>
</div>
<div id="newGroupPopup" >
<%= form_for(:group, :url => groups_path, :remote => true) do |f|%>
<%= f.label :name %>
<%= f.text_field :name %>
<%= submit_tag('Save', :class => "button") %>
<% end %>
</div>
<div id="addContactPopup" >
<form id="addContactForm" >
<input type="text" id="group_id" />
<select>
  <option id="SMS">SMS</option>
  <option id="Phone">Phone</option>
</select>
<input type="submit" />
</form>
</div>
<h1 id="header">Users Profile</h1>
<% if @contacts.empty? %>
<p>You don't have any contacts</p>
<% end %>
<p id="contactOpenBtn" class="button" style="width:100px" >Add a Contact</p>
<div>
<ul id="contactList">
<%= render @contacts %>
</ul>
<% if @groups.empty? %>
<p>You don't have any groups</p>
<% end %>
<p id="groupOpenBtn" class="button" style="width:100px" >Add a Group</p>
<ul id="groupList">
<% @groups.each do |group| %>
<%= render group %>
<% end %>
</ul>
</div>


